@{
    ViewData["Title"] = "Контакти";
}
<link rel="stylesheet" type="text/css" href="/css/Contacts.css">
<h1 style="margin-bottom: 35px">@ViewData["Title"]</h1>
<h4 style="margin-bottom: 20px">Режим роботи: Пн-Вс 09:00 - 19:00</h4>
<h4>Телефон: +380975310777</h4>


