@{
    ViewData["Title"] = "Оплата і доставка";
}
<link rel="stylesheet" type="text/css" href="/css/Payment.css">
<h1 style="margin-bottom: 35px">@ViewData["Title"]</h1>
<img src='/Images/payment.png' class="rounded-image full-width" style="margin-bottom: 15px">

<div class="grid-container">
    <div class="block1">
        <h4 style="margin-bottom: 20px">Доставка</h4>
        <h5 style="margin-bottom: 15px">По Україні сервіс доставки - Нова пошта</h5>
        <p style="margin-bottom: 10px" class="tezy">
            БЕЗКОШТОВНА доставка у будь-якому відділенні Нова Пошта по всій Україні.
        </p>
    </div>
    <div class="block2">
        <h4 style="margin-bottom: 20px">Оплата</h4>
        <h5 style="margin-bottom: 15px">Готівковий розрахунок</h5>
        <p style="margin-bottom: 10px" class="tezy">При отриманні у відділенні служби доставки.</p>
    </div>
</div>


