
/* Базовые стили для контактной информации */
h1 {
    /* Стили для заголовка */
}

h4 {
    /* Стили для абзацев */
}

/* Медиа-запрос для размеров экранов меньше 768px (для мобильных устройств) */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px; /* Уменьшение размера заголовка */
    }

    h4 {
        font-size: 16px; /* Уменьшение размера текста */
        margin-bottom: 10px; /* Уменьшение отступа между абзацами */
    }
}

