@media screen and (max-width: 768px) {
    .image-container {
        width: 100%; /* Ширина изображения на мобильных устройствах */
        height: auto; /* Автоматическая высота для изображения */
        margin-bottom: 10px; /* Уменьшение отступа для изображения */
    }

    .size-button {
        width: 50px; /* Уменьшенная ширина кнопок размеров */
        height: 25px; /* Уменьшенная высота кнопок размеров */
        padding: 3px 10px; /* Уменьшенные внутренние отступы */
        margin: 3px; /* Уменьшенные отступы между кнопками */
    }

    h1 {
        font-size: 24px; /* Уменьшенный размер заголовка */
        margin-bottom: 15px; /* Уменьшение отступа для заголовка */
    }

    h3 {
        font-size: 16px; /* Уменьшенный размер цены */
        margin-top: 8px; /* Уменьшение отступа для цены */
    }

    .buy-button {
        margin-top: 8px; /* Уменьшение отступа для кнопки "Купить" */
    }
}
