/* Общие стили для блоков доставки и оплаты */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Разделение на два столбца */
    grid-gap: 20px; /* Отступ между блоками */
    /* Дополнительные стили по вашему усмотрению */
}

.block1,
.block2 {
    /* Стили для каждого блока */
    /* Ширина блоков для мобильных устройств */
    width: 100%; /* Полная ширина на мобильных */
    margin-bottom: 20px; /* Отступ между блоками */
}

/* Медиа-запрос для размеров экранов меньше 768px (для мобильных устройств) */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Один столбец на мобильных */
    }

    .block1,
    .block2 {
        width: 100%; /* Полная ширина на мобильных */
    }
}
